@import "../common.less";
@import "loader.less";

* {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);


body {
  font-family: verdana;
  margin: 0;
  background: @background-color;
  color: @accent-color;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: @black;
  &:hover {
    text-decoration: underline;
  }
}

.app {
  display: flex;
  flex-direction: column;
}