@import "../common.less";

.feeds-container {
  margin-top: 58px;
  height: calc(~"100vh - 58px");
  overflow-y: auto;
  overflow-x: hidden;

  .feeds {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: @feed-gap @feed-gap 0 0;
  }
}