@import "../common.less";

.links-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  button {
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .links {
    display: none;
    flex-direction: row;
    text-transform: capitalize;
    overflow: auto;
    max-height: calc(~"100vh - 58px");
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding-bottom: 10px;
    &.open {
      display: flex;
      transision: 500ms;
    }

    li {
      display: flex;

      a {
        cursor: pointer;
        border: 1px solid @white;
        padding: 5px 10px;
        margin: 5px;
        max-width: 350px;
        border-radius: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: (@white - @accent-color);
      }
    }
  }
}

@media (max-width: 600px) {

}